@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

#header {
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 2rem;
    background: #53C8FF;
    padding: 0.3rem 0.4rem;
    top: 0;
    width: 100vw;
    z-index: 20;
    font-family: "DM Sans", sans-serif;
  }

  #header a {
    text-decoration: none;
    color: white;
    font-size: 1.75rem;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
  }
  
  #header a:hover {
    color: rgba(255, 255, 255, 0.8);
  }
